<!--base.html-->
<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>
		{% block title%} {% endblock %}
	</title>

	 <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

</head>


<body>
<div class="container-fluid">
	{% include 'header.html'%}
	<div class="row">
		<div class="col-sm-4 col-md-4">
			<dir class="panel panel-dault">
				<h3>
					MENU
				</h3>
			</dir>
			<div class="panel-body">
				<div class="list-group">
					<p>test1</p>
					<p>test2</p>
				</div>
			</div>
			
		</div>
		<div class="col-sm-8 col-md-8">
			<dir class="panel panel-dault">
				<dir class="panel-heading">
					{% block headmessage %} {% endblock %}	
				</dir>
				<div class="panel-body">
					{% block content %} {% endblock %}
				</div>
				<div class="panel-footer">
					{% include 'footer.html'%}	
				</div>
			</dir>
		</div>
		

	</div>
</div>
</body>




</html>